<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

  <span class="breadcrumb__divider" aria-hidden="true">&#8211;</span>
  <a class="breadcrumb__link" href="/" title="Home">Home</a>
  
  
  {% if template contains 'product' %}
  
    <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>
    <a class="breadcrumb__link" href="/collections/all" title="Alle Produkte">
      Alle Produkte
    </a>

    {% if product.collections[0] %}
      <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>
      <a class="breadcrumb__link" title="{{ product.collections[0].title }}" href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>

    {% endif %}

    <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>
    <span class="breadcrumb__link" title="{{ product.title}}">{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}
    
    <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>

    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}

      <a class="breadcrumb__link" title="{{ collection.title }}" href="{{ url }}">{{ collection.title }}</a>

      <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>
      <span class="breadcrumb__link">{{ current_tags | join: " + " }}</span>

    {% else %}

      <span class="breadcrumb__link" title="{{ collection.title }}">Alle Produkte</span>

    {% endif %}

  {% else %}

   <span class="breadcrumb__divider"  aria-hidden="true">&#62;</span>
   <span class="breadcrumb__link" title="{{ page_title }}">{{ page_title }}</span>

  {% endif %}
</nav>