{% assign paginate_options = '5,10,15,25,50' | split: ',' %}

<div class="collection-filter">
  <span class="collection-filter__text">
    {% if template == 'list-collections' %}Kollektionen pro Seite:{% else %}Produkte pro Seite:{% endif %}&nbsp;&nbsp;
  </span>
  <button class="collection-filter__button cart__form-quantity-button">
    <span name="displayPagination" id="displayValue">25</span>
    <input id="pagination-input" class="cart__quantity-input collection-filter__input" type="text"
    name="{{ current_sort.value }}"
    value="{{ current_sort.name }}">
    {{ 'sortMenuArrow.svg'| asset_url | img_tag : 'sortList Arrow', 'collection-filter__arrow' }}

    <ul class="cart__quantity-list box-lightshadow collection-filter__list">

      {% for option in paginate_options %}
        <li value="{{ option }}" name="{{ option }}" class="cart__quantity-list-item collection-filter__list-item">
          {{ option }}
        </li>
      {% endfor %}

    </ul>
    
  </button>
</div>