{% if forloop.index <= limit %}

<div class="product-card box-lightshadow">
  
  {{ product.images[0] | img_url: '600x' | img_tag: '', 'product-card__image' }}
  
  <span class="h3-heading-secondary product-card__text">
    {{ product.title }}
  </span>
  
  <span class="product-card__price">
    {% if product.has_only_default_variant %}- {% else %}<p class="regular-text">ab&nbsp;</p>{% endif %}
    {{ product.price | money_without_currency }} €
  </span>
  
  <!-- <span class="product-card__compare-price"> -->
  {% if product.variants.first.unit_price %}
  
  <span class="product-card__per-kg-price">
    ( {{ product.variants.first.unit_price | money_without_currency }} € / kg )
  </span>
  {% endif %}

  {% if template == 'index' %}
    
  <a class="product-card__link" href="{{ product.url }}">
    <button class="button-black button-small product-card__button">zur Produktseite</button>
  </a>
  
  {% endif %}
    
</div>

{% endif %}
