{% if cart.item_count > 0 %}

<h1 class="h2-heading-main cart__heading">Einkaufswagen</h1>

<div class="cart__content box-lightshadow ">

  <div class="cart__titles">

    <span class="cart__title-one cart__item-line-price">Produkt</span>
    <span class="cart__title-two cart__item-line-price">Preis</span>

  </div>

  <form id="cart-form" class="cart__form" action="/cart" method="post" novalidate>

    {% for item in cart.items %}
    <div class="cart__form-divider"></div>
    <div class="cart__item-wrapper">

      <a class="cart__item-image-link" href="{{ item.url | within: collections.all }}">
        <img class="cart__item-image" src="{{ item | img_url: '600x' }}" alt="{{ item.title | escape }}">
      </a>

      <div class="cart__item-details">

        <h2 class="h2-heading-secondary">
          <a class="cart__item-heading" href="{{ item.url }}">{{ item.product.title }}</a>
        </h2>

        <!-- {% for discount in item.discounts %}{{ discount.title }}{% endfor %} -->

        {% for value in item.variant.options %}
        
        <span class="cart__item-option">
          {{ item.options_with_values[forloop.index0].name }}: {{ value }}
        </span>
        {% endfor %}
        
        <!-- {{ item.price | money }} -->

        <div class="cart__form-quantity-remove-wrapper">
          <div class="button-black button-small cart__form-quantity-box">
            <span>Anzahl:</span>
            <input class="cart__form-quantity" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max="9">

          </div>
          
          <a class="cart__item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Löschen</a>
        </div>

      </div>
      
      <div class="cart__item-price-wrapper">
        {% if item.original_line_price != item.line_price %}
        <span class="cart__item-line-price">
          {{ item.original_line_price | money_without_currency }} {{ shop.currency }}
        </span>
        {% endif %}

        <span class="cart__item-line-price">
          {{ item.line_price | money_without_currency }}
        </span>
  
        <span class="cart__item-line-price">
          {{ shop.currency }}
        </span>
      </div>

    </div>
    {% endfor %}

  </form>
  
</div>

<div class="box-lightshadow cart__checkout-box">

  <div class="cart__checkout-text-wrapper">
    <span class="cart__checkout-sum cart__checkout-sum-shipping">Versandkosten: </span>
    <span class="cart__item-line-price cart__total">
      {{ checkout.shipping_price | money_without_currency }} {{ shop.currency }}
    </span>
  </div>

  <div class="cart__checkout-text-wrapper">
    <span class="cart__checkout-sum">Gesamtsumme: </span>
    <span class="cart__item-heading h2-heading-secondary cart__total">
      {{ cart.total_price | money_without_currency }} {{ shop.currency }}
    </span>
  </div>

  <!-- <button form="cart-form" type="submit" name="update">Update</button> -->
  <button class="button-red" form="cart-form" type="submit" name="checkout">Zur Kasse</button>
</div>

{% else %}
<!-- keine items im Einkaufswagen -->

  <h1 class="h2-heading-main">Einkaufswagen</h1>
  <span class="regular-text">
    Einkaufswagen ist leer. <a href="/products">Zu allen Produkten</a>
  </span>

{% endif %}


{% schema %}
{
  "name": "product-template",
  "class": "main__section cart__template",
  "tag": "div"
}
{% endschema %}