{% paginate search.results by 10 %}
  <form action="/search" method="get" role="search">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit">search</button>
  </form>

  {% if search.performed %}

  <div class="collection__products">    

    {% if collection.products %}
      
    {% for product in collection.products %}
    
      <div class="product-card collection__product-card">
        <a href="{{ product.url | within: collection }}">
          {{ product.images[0] | img_url: '600x' | img_tag: '', 'product-card__image' }}
        </a>
        
        <span class="h3-heading-secondary product-card__text">
          <a class="text-black" href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </span>
        
        <span class="product-card__price">
          {% if product.has_only_default_variant %}- {% else %}<p class="regular-text">ab&nbsp;</p>{% endif %}
          
          {% if product.available %}{{ product.price | money_without_currency }} €
          {% else %}ausverkauft{% endif %}
        </span>
        
        <!-- <span class="product-card__compare-price"> -->
        {% if product.variants.first.unit_price %}
        
        <span class="product-card__per-kg-price">
          ( {{ product.variants.first.unit_price | money_without_currency }} € / kg )
        </span>
        {% endif %}

        <a class="product-card__link" href="{{ product.url }}">
          <button class="button-black button-small product-card__button">zur Produktseite</button>
        </a>

      </div>
      
    {% endfor %}
    
    
    {% else %}
      No search results. Try again !
    {% endif %}
      
  </div>
  
    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        
      {% if item.featured_image %}
        <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
          {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
        </a>
      {% endif %}

      <h2 class="h2-heading-secondary"><a class="text-black" href="{{item.url}}">{{item.title}}</a></h2>
      <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
      {% endif %}

    {% endfor %}

  {% else %}
    no results
  {% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
