<h1 class="h2-heading-main page__heading">Suche</h1>

<div class="box-lightshadow collection__wrapper search__wrapper">
  
  <div class="collection__breadcrumb-and-sort">
    <div class="collection__filters">
      {% render 'pagination-dropdown' %}
    </div>
  </div>

{% paginate search.results by 10 %}
  <form class="article__form-info search__form" action="/search" method="get" role="search">
    <input class="article__form-input search__input" placeholder="search for something.." type="search" name="q" value="{{ search.terms | escape }}">
    <button class="button-red button-small search-button" type="submit">Suchen !</button>
  </form>

  {% if search.performed %}

    <div class="collection__products">    

      {% if search.results_count > 0 %}
        
      {% for item in search.results %}
      
        {% if item.object_type == 'product' %}
      
        <div class="product-card collection__product-card">
          <a href="{{ item.url | within: collection }}">
            {{ item.images[0] | img_url: '600x' | img_tag: '', 'product-card__image' }}
          </a>
          
          <span class="h3-heading-secondary product-card__text">
            <a class="text-black" href="{{ item.url | within: collection }}">{{ item.title }}</a>
          </span>
          
          <span class="product-card__price">
            {% if item.has_only_default_variant %}- {% else %}<p class="regular-text">ab&nbsp;</p>{% endif %}
            
            {% if item.available %}{{ item.price | money_without_currency }} €
            {% else %}ausverkauft{% endif %}
          </span>
          
          <!-- <span class="product-card__compare-price"> -->
          {% if item.variants.first.unit_price %}
          
          <span class="product-card__per-kg-price">
            ( {{ item.variants.first.unit_price | money_without_currency }} € / kg )
          </span>
          {% endif %}

          <a class="product-card__link" href="{{ item.url }}">
            <button class="button-black button-small product-card__button">zur Produktseite</button>
          </a>

        </div>
        {% endif %}
        
      {% endfor %}
      
      {% else %}
        <h3 class="h3-heading-secondary">No search results. Try again !</h3>
      {% endif %}
      
    </div>
    
  {% endif %}
{% endpaginate %}
</div>

<div class="pagination-navigation box-lightshadow"></div>

{% schema %}
{
  "name": "search-template",
  "class": "collection-template main__section search-template",
  "tag": "div"
}
{% endschema %}