{% if cart.item_count > 0 %}

<h1 class="h2-heading-main cart__heading">Einkaufswagen</h1>

<div class="cart__items box-lightshadow ">

  <form id="cart-form" class="cart__form" action="/cart" method="post" novalidate>

    <div class="cart__titles-wrapper">
      <div class="cart__titles">
        <span class="cart__title regular-text">Produkt</span>
        <span class="cart__title regular-text">Preis</span>
      </div>
    </div> 

    {% for item in cart.items %}

      <div class="cart__item-wrapper">

        <a href="{{ item.url | within: collections.all }}">
          <img class="cart__item-image" src="{{ item | img_url: '600x' }}" alt="{{ item.title | escape }}">
        </a>
    
        <a href="{{ item.url }}">{{ item.product.title }}</a>
          {{ item.variant.title }}
        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
    
        {{ item.price | money }}
    
        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
      

        {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
          {{ item.line_price | money }}
        {% for discount in item.discounts %}{{ discount.title }}{% endfor %}

      </div>
      
    {% endfor %}

  </form>
  
</div>

<div>
  <p>sub total : {{ cart.total_price | money }}</p>
  <button form="cart-form" type="submit" name="update">Update</button>
  <button form="cart-form" type="submit" name="checkout">Checkout</button>
</div>

{% else %}

  <h1 class="h2-heading-main">Einkaufswagen</h1>
  <span class="regular-text">
    Einkaufswagen ist leer. <a href="/products">Zu allen Produkten</a>
  </span>

{% endif %}
